<div class="container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
  <app-header class="mb-auto"></app-header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Pomodoro Technique.</h1>
    <p class="lead">For many people, time is an enemy. We race against the clock to finish assignments and meet deadlines. The Pomodoro Technique teaches you to work with time, instead of struggling against it. A revolutionary time management system, it is at once deceptively simple to learn and life-changing to use.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
  </main>

  <app-footer class="mt-auto"></app-footer>
</div>
